<%= form_for(@race) do |f| %>
  <% if @race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :racename %><br />
    <%= f.text_field :racename %>
  </div>
  <div class="field">
    <%= f.label :circutmap %><br />
    <%= f.file_field :circutmap %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br />
    <%= f.text_area :trailer %>
  </div>
  <div class="field">
    <%= f.label :'Date of the Race' %><br />
    <%= f.text_field  :dor,id: :datepicker %>
  </div>
  <div class="field">
    <%= f.label :vehicletype %><br />
    <%= f.select :vehicletype,["Off Road","Sports", "Hatchbacks","Super Cars"] %>
  </div>
  <div class="field">
    <%= f.label :racetype %><br />
	<%= f.select :racetype,["Rally","24 HR. Endurance", "D-Class","C-Class","B-Class","A-Class","Classics"] %>
  </div>
  <div class="field">
    <%= f.label :sponsor %><br />
    <%= f.collection_select :sponsor, ServiceStation.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
	<%= f.collection_select :location, Location.all, :id, :postal_code %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :driverentryfee %><br />
    <%= f.text_field :driverentryfee %>
  </div>
  <div class="field">
    <%= f.label :spectatorfee %><br />
    <%= f.text_field :spectatorfee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
