<p id="notice"><%= notice %></p>
<div id="sidebar">
			<ul>
				<li>
				<h2>Race Information</h2>
				<ul>
					<li><b>Date of the race:</b> <%= @race.dor %></li>
					<li><b>Number of days left to register:</b> <%= @race.numofdaystoreg %></li>
					<%if @race.numofdaystoreg < 0 %>
						<li><font color="red">The last day for registering has passed</font></li>
					<%elsif%>
						<li><b>Last sign up day:</b> <font color="red">Today</font></li>		
					<%else%>
						<li><b>Last sign up day:</b> <%= @race.lastsignupday %></li>
					<%end%>
					<li><b>Full address:</b> <%= @race.fulladdress %></li>
					<li><b>Telephone:</b> <%= @race.telephone %></li>
					<li><b>Website:</b> <%= link_to @race.website do%>
						<%= @race.website %>
						<%end%>
					</li>
					<li><b>Race type:</b> <%= @race.racetype %></li>
					<li><b>Vehicle category:</b> <%= @race.vehicletype %></li>
					<li><b>Driver entry fee:</b> €<%= @race.driverentryfee %></li>
					<li><b>Spectator fee:</b> €<%= @race.spectatorfee %></li>
				</ul>
				</li>
			</ul>
</div>
<p>
  <b>Race Name:</b>
  <%= @race.racename %>
</p>

<p>
	<%if @race.circutmap != nil?%>
	  <b>Circuit Map:</b>
	  <%= image_tag(@race.circutmap, :size =>'300x150')%>
	<%end%>
</p>

<table>
	<tr>
		<td>	
			  <%= sanitize @race.trailer, :tags =>['iframe']%>
		</td>
		<td>
			  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@race.latitude}%2C#{@race.longitude}" %>
		</td>
	</tr>
</table>
<% if !@race.raceentries.empty? %>
		<b>The results are:</b><br \>
		<table>
			<th>Name</th>
			<th>Vehicle </th>
			<th>Position</th>
			<th>Time</th>
		</tr>
			<% @race.raceentries.each do |re| %>
				<tr>
					<td><%= re.customer.fullname 	%></td>
					<td><%= re.vehicle.registration_num %></td>
					<td><%= re.position %></td>
					<td><%= re.dor.strftime('%H:%M:%S') %></td>
				</tr>
			<%end%>
		</table>
<%else %>
		<b>There are currently no results</b><br />
<% end %>
<%= link_to 'Add new result', new_raceentry_path %>	
<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
