<p id="notice"><%= notice %></p>
<div id="sidebar">
			<ul>
				<li>
				<h2>Garages Nearby</h2>
				<ul>
					<%@service_stations.each do |ss|%>
						<li><%=link_to ss.fulladdress, ss%>(<%= ss.distance.round(5)%> km)</li>
					<%end%>
				</ul>
				</li>
			</ul>
</div>
<p>
  <b>Name:</b>
  <%= @customer.fullname %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
 <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@customer.latitude}%2C#{@customer.longitude}" %>
</p>

<p>
  <b>Full Address:</b>
  <%= @customer.fulladdress %>
</p>

<p>
	<% if !@customer.vehicles.empty? %>
		<b> Vehicle Information </b>
		<table>
			<tr>
				<th>Category</th>
				<th>Model</th>
				<th>Reg Number</th>
				<th></th>
				<th></th>
			</tr>
			<% @customer.vehicles.each do |v|%>
				<tr>
					<td><%=v.vehicletype%></td>
					<td><%=v.model%></td>
					<td><%=v.registration_num%></td>
					<td><%= link_to 'Edit', edit_vehicle_path(v) %></td>
					<td><%= link_to 'Destroy', v, confirm: 'Are you sure?', method: :delete %></td>
					
					
				</tr>
			<%end%>
		</table>
	<%else%>
		<b>My bad, you don't have any vehicles</b>
	<%end%>
</p>

<%= button_to 'Add Vehicle',  vehicles_path %>
<%= link_to 'Edit', edit_customer_path(@customer) %>
