<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service_station.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @service_station.owner %>
</p>

<p>
  <b>Contact number:</b>
  <%= @service_station.contact_number %>
</p>

<p>
  <b>Address:</b>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@service_station.latitude}%2C#{@service_station.longitude}" %>
</p>
<p>
  <b>Location:</b>
  <%= @service_station.fulladdress %>
</p>
<p>
  <b>Logo:</b>
  <%= @service_station.logo %>
</p>

<p>
  <b>Type:</b>
  <%= @service_station.sstype %>
</p>


<%= link_to 'Edit', edit_service_station_path(@service_station) %> |
<%= link_to 'Back', service_stations_path %>
