<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @vehicle.vehicletype %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>

<p>
  <b>Registration:</b>
  <%= @vehicle.registration_num %>
</p>

<p>
  <b>Customer:</b>
  <%= @vehicle.customer.email %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
